/* HEADER */
.header {
  text-align: center;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: center;
  border-style: ridge;
}

.nav-item {
  margin: 10px;
  display: inline-block;
  
}

.clicked {
  font-weight: bolder;
  color: red;
}

.unclicked {
  color: black;
}

/* PORTFOLIO */
.cardDiv {
  padding-top: 15px;
}

.card-resume {
  margin: 0 30px;
}

.card-contact {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}

/* RESUME */
.resumeDownload {
  text-align: center;
  margin: 10px;
}

/* Footer */
.footer {
  text-align: center;
}

.icon {
  width: 24px;
  height: 24px;
}
