/* HEADER */
.header {
  text-align: center;
}

/* NAVIGATION */
.nav {
  border-style: ridge;
  justify-content: center;
}

.nav-item {
  margin: 10px;
  display: inline-block;
}

.clicked {
  font-weight: bolder;
}

.unclicked {
  color: black;
}

/* CARDS */
.cardDiv {
  padding-top: 15px;
}

.card-resume {
  margin: 0 30px;
}

.card-contact {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}

/* RESUME */
.resumeDownload {
  text-align: center;
  margin: 10px;
}
/* LINKED ICONS */
.icon {
  width: 24px;
  height: 24px;
}

/* Footer */
.footer {
  text-align: center;
}

.justify-content {
  justify-content: center;
}

li {
  list-style: none;
}